.passwordPageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 10px, double, var(--border);
    border-radius: 8px;
    padding: 4rem;
    background-color: var(--card-bg);
}