/* .list {
    width: 33vw;
    height: 100%;
    overflow-y: scroll;
    scrollbar-color: var(--border)
}

.commentInput {
    height: 10vh;
    width: 33vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} */