.list {
    width: 33vw;
    height: 100%;
    overflow-y: auto;
    scrollbar-color: var(--text);
    margin-top: 2rem;
    text-align: center;
    scrollbar-width: thin;
    scrollbar-color: var(--card-bg) var(--bg);
}


.commentInput {
    height: 10vh;
    width: 33vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}