.card {
    border: 1px solid var(--card-bg);
    margin: 10px;
    padding: 10px;
    border-radius: 30px;
    box-shadow: var(--card-bg) 5px 5px;
    color: var(--text-alternative);
}

.commentWrapper {
    padding: 25px 20px;
}

.author {
    font-size: 1.1rem;
    font-weight: 100;
    padding-bottom: 1rem;

}

.commentText {
    font-size: 0.9rem;

}

.editComment {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.updateCommentButton {
  font-size: 10px;
  font-weight: 400;
  font-style: italic;
  cursor: pointer;
  padding: 0.3rem 0.6rem;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
  user-select: none;
}

.updateCommentButton:hover {
  transform: scale(1.05);
}