@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate(-50%, -40%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

.toast {
  animation: fadeInUp 0.4s ease-out;
}
.toast {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;

  background-color: var(--card-bg);
  color: var(--text);

  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);

  min-height: 100px;
  max-height: 60vh;
  height: auto;

  min-width: 250px;
  max-width: 90vw;

display: flex;
flex-direction: column;
justify-content: flex-start;

text-align: center;
word-wrap: break-word;
}
