.mainDiv{
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    z-index: 10000;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    background-color: blue;
    border-bottom: var(--header-border);
    transition: background-color 0.5s ease-in-out;
    height: 10vh;
    

}

.leftSide {
    display: flex;
    flex-direction: row;
    margin-left: 15px;
    gap: 20px;
    color: var(--color);
    transition: color 0.5s ease-in-out;
}

.logo {
    margin-left: 15px;
    cursor: pointer;
}

.buttonsWrapper {
    margin-right: 15px;
    display: flex;
    justify-content: space-between;
    gap: 5px;
}