.userPageMainDiv {
  display: flex;
  flex-direction: row;
  overflow-y: auto;
}

.sidebar {
  position: fixed;
  top: 70px;
  left: 0;
  width: 300px;
  height: calc(100vh - 70px);
  padding: 1rem;
  overflow-y: auto;
  border-right: 1px solid var(--border-color);
  z-index: 1;
}

.posts {
  overflow-y: auto;
  position: fixed;
  top: 70px;
  right: 20vw;
  padding: 1rem;
  height: calc(100vh - 70px);
}