.item {
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;
    padding: 1rem;
    border: solid 1px var(--border);
    border-radius: 8px;
    background-color: var(--card-bg);
    box-shadow: -2px 3px 4px rgba(104, 96, 146, 0.5);
    width: 50vw;
}

.showDetails {
    font-style: italic;
    color: var(--text);
    border: 1px solid white;
    background-color: var(--bg);
    margin: 2px auto; 
    padding: 4px;
    cursor: pointer;
    width: 200px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header p {
  text-align: center;
  font-size: 1rem;
  color: var(--text-muted);
  margin: 0;
}

.title {
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: 600;
  color: var(--text);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content {
  margin-bottom: 2rem;
  overflow-y: auto;
  max-height: 80px;
  padding: 10px 5px;
  margin-top: -15px;
  background-color: var(--bg);
  border-radius: 8px;
  
}

.tags {
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
  gap: 0.1rem;
  list-style: none;
  padding: 0;
}

.tags p {
  padding: 0.3rem 0.6rem;
  font-size: 0.8rem;
  text-align: center;
}

.likesAndComments {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}