#root {
  --bg: #FFF3E0;
  --text: #4E342E;
  --text-secondary: #6D4C41;
  --accent: #F57C00;
  --accent2: #FF7043;
  --border: #E0C097;
  --card-bg: #FFE0B2;

  --error-text: #e53935;
}
body, html {
 
  background: var(--background);
  
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: center;
  align-items: center;
}

body[data-theme='dark'] {
  --bg: #121C2D;
  --text: #E0F7FA;
  --text-secondary: #B0BEC5;
  --accent: #00B8D4;
  --accent2: #2196F3;
  --border: #263238;
  --card-bg: #37474F;

  --error-text: #e53935;

}

body[data-theme='light'] {
    --bg: #FFF3E0;
  --text: #4E342E;
  --text-secondary: #6D4C41;
  --accent: #F57C00;
  --accent2: #FF7043;
  --border: #E0C097;
  --card-bg: #FFE0B2;

  --error-text: #e53935;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}