/* .comment-avatar {
    height: 63px;
    width: 63px;
    border-radius: 50px;
    object-fit: cover;
}

.header-avatar {
    height: 40px;
    width: 40px;
    border: 1px solid var(--image-border);
    border-radius: 10px;
    object-fit: cover;
}

.avatar {
    height: 200px;
    width: 200px;
    border: 2px solid var(--image-border);
    border-radius: 20px;
    object-fit: cover;
    transition: box-shadow 0.2s ease;
}

.avatar:hover {
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.4);
}

.post-image {
   width: 50vw;
   height: 30vh;
    border-radius: 5px;
    object-fit: cover;
} */